.Main {
    position: absolute;
    /* background-color: black; */
    background-image: url('https://media.discordapp.net/attachments/878134891370401843/1153860272889548811/fondoscrip.png'); 
    background-size:cover;
    display: none;
    width: 50%;
    height: auto;
    padding-bottom: 5%;
    left: 50%;
    border-radius: 2vh;
    transform: translate(-50%, 30%);
}

.Main img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    cursor: pointer;
    width: 20vh;
}

.title {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Changa', sans-serif;
    padding-bottom: 5%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu div {
    font-family: 'Changa', sans-serif;
    background-color: white;
    color: black;
    font-size: 30px;
    margin: 0% 8%;
    padding: 2%;
    border-radius: 3%;
    cursor: pointer;
}

.menu div:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 2.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

canvas {
    width: 100%;
  }

.creator {
    display: none;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 25px;
    padding-top: 3%;
}
.crnorecibe {
    display: none;
}

.crisrecibe {
    display: none;
}

.crnorecibe h2 {
    /* -webkit-text-stroke: 0.5px black; */
    text-align: center;
}

.crisrecibe h2 {
    /* -webkit-text-stroke: 0.5px black; */
    text-align: center;
}

.submenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 50%;
    height: auto;
    font-size: 25px;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.submenu button {
    width: 5%;
    margin-left: 2%;
    height: auto;
    font-size: 25px;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.submenu button:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn {
    width: 5%;
    margin-left: 5%;
    margin-top: 2%;
    height: auto;
    font-size: 25px;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn3 {
    width: 5%;
    margin-left: 5%;
    margin-top: 2%;
    height: auto;
    font-size: 25px;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.btn3:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.initial {
    display: none;
}

.norecibed {
    display: none;
}

.norecibed h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
    color: white;
}

.norecibed img {
    text-align: center;
    width: 20%;
    filter: invert(100%);
}

.isrecibed {
    display: none;
}

.isrecibed h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
    color: white;
}

.isrecibed img {
    text-align: center;
    width: 20%;
    color: blue;
    filter: invert(100%);
}